- content_for :js do
  = javascript_include_tag 'calendar'

.col-md-12
  .panel.panel-default
    .panel-heading
      %strong Contribs
    .list-group#items
      .list-group-item Loading...
.col-md-12
  #calendar
.col-md-12
  #schedule
