<div class="list-group-item partip">
  <span class="text-label">
    <%= link_to partip.title, partip %>
    <% unless defined? no_attribution and no_attribution %>
      <small>
        by
        <%= link_to partip.user.username, user_path(:username => partip.user.username) %>
      </small>
    <% end %>
  </span>

  <% if user_signed_in? %>
    <span class="actions">
      <%= render 'partips/actions', partip: partip %>
    </span>
  <% end %>

  <span class="clearfix"></span>
</div>
