= simple_form_for partip(type), html: { class: 'form-vertical expand' } do |f|
  = f.input :title, placeholder: placeholder(type), wrapper_class: 'visible form-group', label_html: { class: 'sr-only' }
  = f.input :description, as: :text
  .actions
    = f.button :submit
