= render 'partips/profile_body', partip: @interest

= content_for :post_sidebar do
  .panel.panel-default
    .panel-heading
      %strong
        Contribs in reply
    .list-group
      - @interest.contribs.each do |contrib|
        = render 'partips/list_item', partip: contrib
      - unless @interest.contribs.length > 0
        .list-group-item
          No Contrib yet

  = render 'partips/voted_for', partip: @interest
