<%= simple_form_for @contrib, html: { class: 'form-vertical' } do |f| %>
  <div class="field">
    <%= f.input :title %>
  </div>
  <div class="field">
    <%= f.input :description, as: :text %>
  </div>
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
