<h1>
  New contrib
  <% if @contrib.interest %>
    <small>
      in reply to <%= @contrib.interest.title %>
    </small>
  <% end %>
</h1>

<%= render 'form' %>

<%= link_to 'Back', contribs_path %>
