= render 'partips/profile_body', partip: @contrib

= content_for :post_sidebar do
  - if @contrib.interest
    .panel.panel-default
      .panel-heading
        %strong In reply to
      .list-group
        = render 'partips/list_item', partip: @contrib.interest
  = render 'partips/voted_for', partip: @contrib
