/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$brand-primary: #c50202;
$body-bg: #f7f7f7;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/l/font?kit=IdY6kW8qAN40x_75Y1PB98d9j29jiG2T_Z4Pi_um3Ts) format('woff2');
}

body {
  padding-top: 40px;
  padding-bottom: 90px;
}

a.list-group-item {
  color: $brand-primary;
}

.btn-github {
  @include button-variant(white, hsla(0,0%,20%,1), darken(hsla(0,0%,20%,1), 10%));
}

.btn-twitter {
  @include button-variant(white, hsla(206,82%,63%,1), darken(hsla(206,82%,63%,1), 10%));
}

.list-group-item.partip {
  .text-label {
    float: left;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .actions {
    float: right;
    opacity: 0;
    transition: opacity 0.1s ease-in;
  }

  &:hover .actions {
    opacity: 1;
  }

  .fa {
    display: inline-block;
    margin-left: 10px;
  }

  .vote-trigger {
    .fa:before {
      content: "\f006";
    }
    &.voted .fa:before {
      content: "\f005";
    }
  }

  a {
    text-decoration: none !important;
  }
}
