// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form.expand {
  .form-control {
    transition: none !important;
  }
}

form.expand:not(.expanded) {
  .form-group.visible {
    margin: 0;
  }

  input {
    padding: 0;
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: none;
    outline: none;
  }
}

.expand {
  div:not(.visible) {
    display: none;
  }
  &.expanded {
    div {
      display: block;
    }
  }
}


.row.signup-teaser {
  margin-top: 40px;
  margin-bottom: 40px;
  .btn-lg {
    margin-bottom: 20px;
  }
}
