- content_for :content do
  = yield

- content_for :sidebar do
  .panel.panel-default
    .panel-heading
      %strong Last Contribs Posted
    .list-group
      - @latestContribs.each do |contrib|
        = render 'partips/list_item', partip: contrib

= render template: 'layouts/sidebar'
